@import './utils/variables';
@import './utils/extends';
@import './utils/functions';
@import './utils/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.customizer {

    button, a {
        @extend %transition
    }

    &__header {
        height: 50px;
        display: flex;
        align-items: center;
        padding-right: 15px;
        justify-content: right;
        background-color: css_var('primary_color');
        button {
            padding: 7px 20px;
            background: css_var('white_color');
            font-size: 15px;
            border-radius: 4px;
            border: 0px;
            cursor: pointer;
        }
    }

    &__sidebar {
        float: left;
        width: 400px;
        background-color: css_var('grey_color');
        height: calc(100vh - 50px);
        overflow-y: hidden;
        padding: 10px;
    }

    &__content {
        float: left;
        width: calc(100% - 400px);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 50px);
    }
}