.widget-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}


.control-container {
    input[type="text"], select, input[type="number"] {
        padding: 7px;
        font-size: 14px;
    }

    input, select {
        width: 100%;
        display: inline-block;
        margin-top: 7px;
    }
}

.control-item {
    margin-top: 25px;

    &[data-inline="true"] {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .control-item--field {
            width: 80px;
            input {
                margin: 0 !important;
            }
        }
    }
}

.popup-widget {
    background: $white_color;
    padding: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 122px;
    justify-content: center;
    border-radius: 4px;
    cursor: move;
    user-select: none;
    position: relative;

    &.ui-draggable-dragging {
        position: fixed !important;
        z-index: 100 !important;
        width: 147px;
    }

    &:hover {
        box-shadow: -1px 3px 9px #bbb3b3;
        i {
            color: css_var('primary_color');
        }
    }

    span {
        font-size: 35px;
        padding-bottom: 9px;
        color: #7c7c7c;
    }

    label {
        font-size: 14px;
        pointer-events: none;
    }
}

