* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: "Poppins", sans-serif;
}

.customizer {
	display: grid;
	grid-template-columns: 400px auto;
	height: 100vh;
}

.customizer .body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aside {
	background: #1C1E22;
}

.aside--heading {
	height: 50px;
	color: #ffffff;
	background: #101010;
	display: flex;
	align-items: center;
	font-weight: 500;
	padding: 10px 24px;
	font-size: 18px;
}

.aside--heading span {
	padding-right: 10px;
	display: inline-block;
}

.aside__content {
	display: grid;
	grid-template-columns: 70px auto;
	height: calc(100vh - 50px);
}

.aside__content--menu {
	text-align: center;
}

.aside__content--menu ul li {
	color: #d3d3d3;
	cursor: pointer;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
}

.aside__content--menu ul li:hover {
	color: #ffffff;
}

.aside__content--menu ul li.active {
	color: #ffffff;
	background: linear-gradient(to right bottom, #337EF7, #8B7FFA);
}

.aside__content--menu ul li label {
	font-size: 12px;
	display: inline-block;
	padding-top: 5px;
	cursor: pointer;
}

.aside__content--panel {
	background: #DFDFDF;
}

.aside__content--panel .panel--info {
	background: #d3d3d3;
	padding: 10px;
	height: 40px;
	font-size: 16px;
	font-weight: 400;
}

.aside__container {
	padding: 10px;
	position: relative;
	height: calc(100vh - 90px);
}

.widget-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.control-container input[type="text"], .control-container select, .control-container input[type="number"] {
	padding: 7px;
	font-size: 14px;
}

.control-container input, .control-container select {
	width: 100%;
	display: inline-block;
	margin-top: 7px;
}

.control-item {
	margin-top: 25px;
}

.control-item[data-inline="true"] {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.control-item[data-inline="true"] .control-item--field {
	width: 80px;
}

.control-item[data-inline="true"] .control-item--field input {
	margin: 0 !important;
}

.popup-widget {
	background: #ffffff;
	padding: 13px;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 122px;
	justify-content: center;
	border-radius: 4px;
	cursor: move;
	user-select: none;
	position: relative;
}

.popup-widget.ui-draggable-dragging {
	position: fixed !important;
	z-index: 100 !important;
	width: 147px;
}

.popup-widget:hover {
	box-shadow: -1px 3px 9px #bbb3b3;
}

.popup-widget:hover i {
	color: css_var("primary_color");
}

.popup-widget span {
	font-size: 35px;
	padding-bottom: 9px;
	color: #7c7c7c;
}

.popup-widget label {
	font-size: 14px;
	pointer-events: none;
}

.slider-control {
	display: flex;
	align-items: center;
}

.slider-control .value {
	width: 75px;
	text-align: right;
}

@-webkit-keyframes infinite-spinning {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes infinite-spinning {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.popup-spinner {
	display: none;
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-animation: infinite-spinning 1.08s linear infinite;
	animation: infinite-spinning 1.08s linear infinite;
	vertical-align: middle;
	margin-right: 7px;
	top: 2px;
}

.is-loading {
	pointer-events: none;
}

.is-loading .popup-spinner {
	display: inline-block;
}

.popup-spinner:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 50%;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	margin-left: -2px;
	background: #fff;
}

.popup-widget-element {
	display: inline-block;
	position: absolute !important;
	cursor: grab;
}

.popup-widget-element:hover {
	outline: 1px dashed #1C1E22;
}
