// components color
$space_colors: (
    'primary_color'     : red,
    'secondary_color'   : blue
);

// image source directory variable
$space_image_source_dir: './images';

// responsive breakpoints
$space_small_mobile   : 400px;
$space_mobile         : 575px;
$space_tablet         : 768px;
$space_large_tablet   : 850px;
$space_laptop         : 991px;
$space_small_desktop  : 1199px;
$space_desktop        : 1600px;
